html {
  scroll-behavior: smooth;
}

.certificate-block h2::after {
  display: none;
}

.order-info {
  text-align: center;
}

.order-info__title {
  font-size: 24px;
  color: red;
}

.order-info__date {
  text-decoration: underline;
}

.order-info__count {
  display: block;
  background: red;
  padding: 10px;
  margin: 12px auto;
  width: 178px;
  color: #fff;
  text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000,
    0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000,
    1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000, 1px 1px 0 #000000;
  font-size: 32px;
  border-radius: 5px;
}

.order-info__count-val {
  font-size: 52px;
  line-height: 1;
}

.order-info__subtitle {
  font-size: 24px;
  margin: 22px auto;
}

.order-info__subtitle-price {
  font-weight: 700;
  color: red;
}

#order-form {
  padding: 20px 20px 40px;
  max-width: 600px;
  margin: 20px auto;
  background-image: url("../img/formbg.jpg");
  background-repeat: no-repeat;
  line-height: 16px;
  text-align: center;
  background-size: 100% 100%;
}

.order-form__header-pic {
  max-width: 100px;
}

.order-form__header-title {
  margin: 0;
  padding: 0;
  line-height: 32px;
  font-size: 32px;
}

@media all and (max-width: 767px) {
  .order-form__header-title {
    font-size: 27px;
  }
}

.order-form__header-number {
  color: blue;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.order-form__header-subtitle {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.order-form__header-subtitle--price {
  font-weight: 700;
  color: red;
}

.order-form__header-annotation {
  display: block;
  margin: 5px 10px;
  border: 2px solid #0299ff;
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
}

.order-form__pole {
  display: inline-block;
  margin: 10px auto 0;
  width: 100%;
  max-width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.order-form__pole label {
  display: block;
  width: 100%;
  max-width: 230px;
  margin: 0 auto 8px;
  padding: 5px 0;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.order-form__pole input,
.form_group {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 21px;
  padding: 15px;
  border: 2px solid #e9d7dc;
  width: 100%;
}

.order-form__btn-wrap {
  padding: 25px 0;
  max-width: 320px;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.order-form__btn {
  display: inline-block;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
  box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
  border-radius: 5px;
  background-color: #0299ff;
  background-position: 1.35em 0.94em;
  background-size: 1em;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 10px 0;
}

.order-form__btn:hover {
  background-color: #017acc;
  color: #fff !important;
}

.order-form__additional {
  font-size: 12px;
}

form {
  --form-border: #333;
  --form-check-border-checked: #0299ff;
  --form-check-bg-checked: #0299ff;
  --form-check-yes-checked: #0299ff;
}

.form__checkbox {
  position: relative;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  max-width: 280px;
  width: 100%;
  text-align: left;
}

.form__checkbox a {
  text-decoration: underline;
  color: #000;
}

.form__checkbox-mark {
  width: 20px;
  height: 20px;
  border: 1px solid var(--form-border);
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  cursor: pointer
}

.form__checkbox-mark:after {
  position: relative;
  content: "";
  display: none;
  width: 80%;
  height: 80%;
  top: 2px;
  left: 1px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.823 2.774A.5.5 0 0 0 10 2.392V.91a.5.5 0 0 0-.823-.382l-5.422 4.58a.5.5 0 0 1-.637.007L.815 3.246A.5.5 0 0 0 0 3.634v1.503a.5.5 0 0 0 .185.389l2.933 2.38a.5.5 0 0 0 .637-.007l6.068-5.125z' fill='%23fff'/%3E%3C/svg%3E")
}

.form__checkbox-mark:hover {
  border-color: var(--form-check-border-hover);
  background: hsla(0,0%,100%,.9)
}

.form__checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  z-index: -10;
  background-color: var(--form-bg)
}

.form__checkbox input[type=checkbox]:checked~.form__checkbox-mark:after {
  display: block
}

.form__checkbox input[type=checkbox]:checked~.form__checkbox-mark {
  border-color: var(--form-check-border-checked);
  background-color: var(--form-check-bg-checked)
}

.form__checkbox input[type=checkbox]:checked~.form__checkbox-mark:after {
  border-color: var(--form-check-yes-checked)
}

.form__checkbox input[type=checkbox]:active~.form__checkbox-mark,.form__checkbox input[type=checkbox]:focus~.form__checkbox-mark {
  border-color: var(--form-check-border-checked)
}

.block-data p {
  text-align: center;
}

.form-data {
  font-size: 34px !important;
  color: #017acc;
}

.block-product {
  text-align: center;
}

.img-product {
  max-width: 280px;
}
