img {
  max-width: 100%;
}

.box-img {
  text-align: center;
}

.main-btn {
  max-width: 300px;
  width: 100%;
  background-color: crimson;
  color: #fff;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px auto 0 auto;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
}

.reply {
  margin-left: 50px;
}

.form__input {
  text-align: center;
  margin-bottom: 20px;
}

.form__input input {
  height: 35px;
  border: 1px solid #c3c4c5;
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input input:focus {
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.main-btn:hover {
  text-decoration: none !important;
  color: #fff !important;
  -webkit-box-shadow: 2px 3px 10px rgba(220, 20, 60, 0.6) !important;
  box-shadow: 2px 3px 10px rgba(220, 20, 60, 0.6) !important;
}

.prices {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  font-size: 30px;
  margin-bottom: 10px;
}

.prices p {
  margin: 10px 0;
}

.price-text {
  font-size: 18px;
  text-align: center;
}

.main-price {
  color: #000;
  font-weight: bold;
  text-align: center;
}

.warning {
  background-color: rgba(238, 232, 170, 0.4);
}

.main-price p {
  margin: 5px 0 !important;
  line-height: 1.2 !important;
}

.count-wrap {
  margin-top: 30px;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-sm: 0;
  --breakpoint-sm-max: 599px;
  --breakpoint-md: 600px;
  --breakpoint-md-max: 959px;
  --breakpoint-lg: 960px;
  --breakpoint-lg-max: 1259px;
  --breakpoint-xl: 1260px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: Montserrat, "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
}

strong {
  font-weight: bolder;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

figure {
  margin: 0 0 1rem;
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px) {
  .container {
    max-width: 959px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1260px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12,
.col-md {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 600px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

@supports (position: sticky) {
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:active,
a:focus,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

figure {
  margin: 0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@media (min-width: 960px) {
  html {
    font-size: 16px;
  }
}

body {
  overflow-x: visible;
}

a {
  color: #185f7d;
}

a:active,
a:hover {
  color: #299ecc;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.3em;
}

h3 {
  font-size: 24.5px;
  line-height: 1.3em;
}

h4 {
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.l-ad.subnav {
  z-index: 3;
  top: 49px;
  text-align: center;
  background: #f6f6f6;
}

@media (min-width: 960px) {
  .l-ad.subnav.subnav-ad-position-sticky {
    position: sticky;
  }
}

#l-content {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

#l-content {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto 25px auto !important;
}

@media (min-width: 600px) {
  #l-content {
    border-bottom: none;
  }
  #l-content.is-right-rail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 960px) {
  #l-content.is-right-rail {
    max-width: 555px !important;
    margin-right: 75px;
    margin-left: 15px;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 1260px) {
  #l-content.is-right-rail {
    max-width: 876px !important;
    margin-right: 54px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.l-footer {
  display: block;
  background-color: #fff;
}

.l-footer-container {
  width: 100%;
  border-top: 1px solid rgba(17, 17, 17, 0.2);
}

.l-footer-bottom-shim {
  margin: 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
}

.l-footer-container .brands {
  display: block;
}

@media (min-width: 600px) {
  .l-footer {
    display: block;
    height: auto;
    background-color: #fff;
  }
  .l-footer-container .brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#l-main-content {
  min-height: 400px;
}

#l-rightrail {
  display: none;
}

@media (min-width: 960px) {
  #l-rightrail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 300px;
    width: 100%;
    padding: 10px 0 0;
  }
}

@media (min-width: 960px) {
  #l-rightrail.l-rightrail-default-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 300px;
    width: 100%;
    padding: 40px 0 0;
  }
}

.hub-wrapper {
  width: auto;
}

.vertical-title-wrapper {
  z-index: 0;
  padding: 0;
}

.vertical-title.vertical-title--subnav {
  z-index: 2;
  position: relative;
  margin-bottom: 0;
  white-space: nowrap;
}

.vertical-title.vertical-title--subnav a {
  color: #000;
}

.hub-nav-wrapper {
  position: relative;
}

.hub-nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: auto;
  margin: -3px 0 12px;
  padding: 16px 0 0;
  white-space: nowrap;
}

@media (min-width: 960px) {
  .hub-nav {
    margin-bottom: 10px;
  }
}

.hub-nav::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.hub-nav-button {
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 0;
  border: none;
  padding-right: 0;
  background: none;
}

@media (min-width: 960px) {
  .hub-nav-button {
    display: none;
  }
}

.hub-nav-button:focus {
  outline: 0;
}

.hub-nav-link {
  position: relative;
  display: block;
  height: 100%;
  padding: 0 8px;
  font-size: 12px;
  color: #010101;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  .hub-nav-link:hover {
    color: #096ffa;
  }
}

.hub-nav-link:active,
.hub-nav-link:hover {
  color: #096ffa;
}

.hub-nav-link-container {
  margin: 0 6px;
  text-align: center;
}

.hub-nav-link-container:last-child {
  padding-right: 32px;
}

.typography {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #111;
}

.typography:not(.slideshow-container) h2 {
  margin: 2.15rem 0 10px;
  font-size: 1.4rem;
  line-height: 1.22;
}

.typography:not(.slideshow-container) h3 {
  margin: 20px 0;
  font-size: 1.17em;
  line-height: 1.22;
}

.typography ul {
  margin: 0 0 10px;
  padding-left: 25px;
}

.typography p {
  margin: 1.15rem 0;
  line-height: 1.3;
  font-size: 17px;
  text-align: justify;
}

.small {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin: 5px 0 !important;
  text-align: center !important;
}

.qoute {
  border-top: 5px double #dc143c;
  border-bottom: 5px double #dc143c;
  padding: 20px 0;
  text-align: center !important;
  margin: 20px 0;
  line-height: 1.4;
}

.qoute-simple {
  border-color: #778899;
  background-color: rgba(211, 211, 211, 0.4);
}

.qoute p {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.wsnw {
  white-space: nowrap;
}

.table {
  margin: 20px 0;
  border: 1px solid #ccc;
}

.table__header,
.table__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.table__content p,
.table__header p {
  margin: 0;
  padding: 15px;
  text-align: left;
}

.table__header-item,
.table__content-item {
  max-width: 50%;
  width: 100%;
}

.table__content-item ul {
  padding-left: 38px;
  padding-right: 15px;
  margin: 0;
}

.table__content-item:first-child,
.table__header-item:first-child {
  border-right: 1px solid #cccccc;
}

.table__header {
  border-bottom: 1px solid #ccc;
}

.xs-only {
  display: none;
}

@media screen and (max-width: 600px) {
  .table__header-item,
  .table__content-item {
    width: 100%;
  }
  .table__header {
    display: none;
  }
  .xs-only {
    display: block;
  }
  .table__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .table__content p,
  .table__header p {
    padding: 7px;
  }
  .table__header-item,
  .table__content-item {
    max-width: 100%;
  }
  .table__content-item:first-child,
  .table__header-item:first-child {
    border-right: none;
  }
}

.typography .summary-list {
  margin: 20px 0 42px;
  padding-left: 21px;
  line-height: normal;
  list-style-type: none;
}

.typography .summary-list li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #e8e9ea;
  padding-top: 23px;
  padding-bottom: 12px;
  padding-left: 0;
}

.typography .summary-list li:first-child {
  padding-top: 0;
}

.typography .summary-list li:first-child:before {
  top: 8px;
}

.typography .summary-list li:before {
  position: absolute;
  top: 31px;
  left: -21px;
  width: 7px;
  height: 7px;
  background: #096ffa;
  content: "";
}

@media (min-width: 600px) {
  a {
    color: #0000ff;
  }
  .typography:not(.slideshow-container) h2 {
    font-size: 31px;
    line-height: 1.3;
  }
  .typography:not(.slideshow-container) h3 {
    font-size: 23px;
    line-height: 1.3;
  }
}

@media (min-width: 960px) {
  .typography {
    line-height: 1.4;
  }
  .typography .summary-list {
    margin: 20px 0 51px;
    padding-left: 22px;
  }
  .typography .summary-list li {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}

.ad.in-post {
  min-height: 60px;
  margin: 2px -15px 3px;
  text-align: center;
}

@media (min-width: 0) {
  .ad.in-post {
    overflow: hidden;
    margin: 30px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 30px 0;
  }
}

@media (min-width: 1260px) {
  .ad.in-post {
    max-width: 830px;
    width: 100%;
    margin-left: -95px;
  }
}

.ad.md-leaderboard {
  overflow: hidden;
  height: auto;
  margin: 0 auto;
  color: #ddd;
  background: #f8f9f9;
  text-shadow: 1px 1px #999;
}

@media (min-width: 960px) {
  .ad.md-leaderboard {
    min-height: 128px;
  }
  .ad.md-leaderboard .only-desktop[data-bi-ad] {
    padding: 30px 0;
  }
}

.ad.md-leaderboard.homepage {
  background: #fff;
}

.ad.md-leaderboard.homepage [data-bi-ad] {
  padding-bottom: 8px;
}

[data-region="Bottom 300"],
[data-region="Lower 300"],
[data-region="Middle 300"],
[data-region="Upper 300"] {
  padding-bottom: 60px;
}

.ad.bottom-300 {
  position: relative;
}

.ad.in-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 312px;
}

.sticky-footer-ad {
  z-index: 4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  background: hsla(0, 0%, 100%, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
  -webkit-transform: translate3d(0, calc(100% + 10px), 0);
  transform: translate3d(0, calc(100% + 10px), 0);
}

@media (min-width: 600px) {
  .sticky-footer-ad {
    display: none;
  }
}

.sticky-footer-ad [data-bi-ad] {
  display: none;
}

.sticky-footer-ad .ad-close-icon {
  z-index: 5999999;
  position: absolute;
  top: -3px;
  right: 0;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
}

.sticky-footer-ad .close-icon {
  width: 10px;
  height: 10px;
}

.sticky-footer-ad .close-icon .close-icon-path {
  stroke: #111;
}

.app-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.app-badge {
  position: relative;
  top: 50%;
  max-width: 109px;
  height: 32px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.app-badge:first-child {
  margin-right: 10px;
}

@media (min-width: 600px) {
  .app-badges {
    margin: 0 0 10px;
  }
}

@media (min-width: 960px) {
  .app-badges {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding-right: 35px;
  }
}

@media (min-width: 1260px) {
  .app-badges {
    padding-right: 45px;
  }
}

.app-badges-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands {
  height: auto;
  padding-bottom: 0;
}

.brands-site-logo {
  display: block;
  text-align: center;
}

.brands-logo,
.brands-sister-logo {
  display: inline-block;
}

.brands-logo {
  max-width: 103px;
  height: 33px;
  margin: auto;
}

.brands-label {
  display: none;
  padding-right: 24px;
  font-size: 13px;
  line-height: 33px;
  color: #fff;
  vertical-align: bottom;
}

.brands-label.sisters {
  padding-right: 21px;
}

.brands-sisters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0 5px;
  text-align: center;
}

.brands-sisters-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(17, 17, 17, 0.2);
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  padding: 26px 0;
}

.brands-sister-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 7px;
  vertical-align: middle;
}

.brands-sister-logo-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  max-width: 100px;
  height: 33px;
  margin-bottom: 20px;
}

.brands-sister-logo-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 100px;
  height: 33px;
  margin-bottom: 20px;
}

.brands-sister-logo-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  width: 100px;
  height: 26px;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .brands-logo {
    margin: 0;
  }
  .brands-site-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
  }
  .brands-sisters,
  .brands-site-logo,
  .brands-social {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .brands-sisters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 0;
  }
  .brands-sisters-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 28px 0 0;
  }
  .brands-sister-logo {
    margin: 0 auto 28px;
  }
  .brands-sister-logo-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .brands-sister-logo-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 0;
  }
  .brands-sister-logo-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    height: 33px;
    margin-left: 0;
  }
}

@media (min-width: 960px) {
  .brands-logo {
    width: 103px;
    height: 33px;
  }
  .brands-label {
    line-height: 33px;
  }
  .brands-site-logo {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-left: 35px;
    text-align: left;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18.5%;
    flex: 0 0 18.5%;
    max-width: 18.5%;
  }
  .brands {
    padding-bottom: 0;
  }
  .brands-social {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .brands-sisters {
    margin: 29px 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .brands-sister-logo-1 {
    height: 33px;
  }
  .brands-sister-logo-2,
  .brands-sister-logo-3 {
    width: 100px;
    height: 33px;
  }
}

@media (min-width: 1260px) {
  .brands-site-logo {
    padding-left: 45px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .brands-label {
    display: none;
  }
}

.copy-listgroup {
  padding: 15px 0;
  font-size: 11px;
  line-height: 1.82;
  color: #111;
  text-align: center;
}

.copy-listitem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  border-left: none;
  line-height: 9px;
  list-style: none;
}

.copy-listitem + .copy-listitem {
  margin: 0 2px 4px;
  border-left: 1px solid #111;
  padding: 0 0 0 4px;
}

.copy-link,
.copy-link:active,
.copy-link:link,
.copy-link:visited {
  color: #111;
}

.copy-link:hover {
  color: #111;
  text-decoration: underline;
}

.copy-policy-link {
  display: block;
}

.copy-external-link {
  display: block;
  padding-left: 3px;
}

.copy-and {
  margin: 0 3px;
}

@media (min-width: 600px) {
  .copy-listgroup {
    padding-left: 0;
    font-size: 11px;
    line-height: 20px;
    color: #111;
    text-align: center;
    list-style: none;
  }
  .copy-link,
  .copy-link:active,
  .copy-link:hover,
  .copy-link:link,
  .copy-link:visited {
    color: #111;
  }
  .copy-external-link,
  .copy-policy-link {
    display: inline-block;
  }
}

.editions-list-inline {
  display: block;
}

.editions-list-inline .editions-listgroup {
  font-size: 11px;
  line-height: 20px;
  color: #111;
  text-align: center;
  list-style: none;
}

.editions-list-inline .editions-listitem {
  display: inline-block;
  height: auto;
  padding: 0;
  line-height: 9px;
  letter-spacing: normal;
}

.editions-list-inline .editions-listitem + .editions-listitem {
  margin: 0 2px 4px;
  border-left: 1px solid #111;
  padding: 0 0 0 4px;
}

.editions-list-inline .editions-listitem-label {
  display: block;
}

.editions-list-inline .editions-link,
.editions-list-inline .editions-link:active,
.editions-list-inline .editions-link:link,
.editions-list-inline .editions-link:visited {
  color: #111;
}

.editions-list-inline .editions-link:hover {
  color: #111;
  text-decoration: underline;
}

.editions-list-inline .editions-link-name {
  display: none;
}

.editions-list-inline .editions-link-abbr {
  display: block;
}

.editions-list-inline .editions-listitem.is-active {
  display: none;
}

.editions-list-inline .editions-listitem.is-active + li {
  border-left: none;
}

@media (min-width: 600px) {
  .editions-listitem {
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    list-style: none;
  }
  .editions-link,
  .editions-list-inline .editions-listitem-label {
    display: inline-block;
  }
  .editions-link-name:hover {
    text-decoration: underline;
  }
}

.figure {
  display: block;
}

.image-source-caption {
  display: block;
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.3px;
}

.image-caption {
  display: inline;
  margin-right: 4px;
}

.image-source {
  display: inline;
  color: #848f91;
}

@media (min-width: 600px) {
  .image-source-caption {
    margin: 10px 0 15px;
    padding: 0;
  }
  .image-figure-image {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 960px) {
  .image-source-caption {
    margin: 11px 0 20px;
  }
  .image-caption {
    margin-right: 6px;
  }
}

img.lazy-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101%;
  max-width: none;
  height: auto;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

img.lazy-image.has-transparency {
  width: 99.5%;
}

img.lazy-image {
  z-index: 1;
  opacity: 0.1;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

[class*="lazy-holder"] {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  background: #f8f8f8;
  padding-top: 75%;
}

[class*="lazy-holder"].has-transparency {
  background: transparent;
}

.ins-drawer-close-icon .close-icon-path {
  stroke: #111;
}

@media (min-width: 960px) {
  .ins-drawer-close-icon .close-icon-path:hover {
    stroke: #096ffa;
  }
}

.ins-drawer-close-icon {
  width: 17px;
  height: 20px;
}

.notify-wrapper {
  z-index: 5999999;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  font-size: 16px;
  line-height: 70px;
  color: #fff;
  text-align: center;
  letter-spacing: 1.6px;
  background-color: #111;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  transform: translate3d(0, 70px, 0);
}

.notify-close {
  position: absolute;
  right: 10px;
  display: block;
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.popular-post {
  width: 300px;
  border-bottom: none;
  padding-bottom: 60px;
}

.share-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 38px;
  margin: auto 0;
}

.share-wrapper .group-clip {
  overflow: hidden;
  width: 84px;
  -webkit-transition: width 0.25s;
}

.share-wrapper .group-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
}

.share-link {
  position: relative;
  width: 38px;
  height: 38px;
  margin: 0 4px 0 0;
  border: 1px solid #848f91;
  border-radius: 50%;
  background-color: #fff;
}

.share-link:active,
.share-link:focus,
.share-link:hover,
.share-link:link,
.share-link:visited {
  text-decoration: none;
}

.share-wrapper .svg-icon {
  position: absolute;
  top: 9.5px;
  left: 10px;
  width: 17px;
  height: 17px;
  fill: #848f91;
  stroke: unset;
}

.share-wrapper .facebook .svg-icon {
  left: 9px;
}

.share-wrapper .flipboard-icon,
.share-wrapper .pinterest-icon {
  top: 8.5px;
  left: 9px;
  width: 19px;
  height: 19px;
}

.share-wrapper .close-icon {
  stroke: #848f91;
}

.share-wrapper .share-toggle {
  position: relative;
  margin: 0;
}

.share-wrapper .share-toggle .close-icon,
.share-wrapper .share-toggle .more-icon {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: opacity 0.27s ease, transform 0.5s ease;
  -o-transition: opacity 0.27s ease, transform 0.5s ease;
  -webkit-transition: opacity 0.27s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.27s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.27s ease, transform 0.5s ease;
  transition: opacity 0.27s ease, transform 0.5s ease,
    -webkit-transform 0.5s ease;
}

.share-wrapper .share-toggle.share-loading .close-icon,
.share-wrapper .share-toggle.share-loading .more-icon {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.share-wrapper .share-toggle .more-icon {
  opacity: 1;
}

.share-wrapper .share-toggle .close-icon {
  opacity: 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.share-wrapper .facebook {
  border-color: #30619c;
  background-color: #30619c;
}

.share-wrapper .twitter {
  border-color: #00aced;
  background-color: #00aced;
}

.share-wrapper .pinterest {
  border-color: #bd081c;
  background-color: #bd081c;
}

.share-wrapper .flipboard {
  border-color: #f52828;
  background-color: #f52828;
}

.share-wrapper .facebook-icon,
.share-wrapper .flipboard-icon,
.share-wrapper .pinterest-icon,
.share-wrapper .twitter-icon {
  fill: #fff;
}

.share-wrapper .snapchat-icon {
  top: 9.5px;
  left: 10.5px;
  overflow: visible;
  width: 18px;
  height: 17px;
}

.snapchat {
  position: relative;
  width: 38px;
  height: 38px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #fffc00;
}

path.snapchat {
  stroke: #000;
  stroke-width: 4;
}

@media (min-width: 600px) {
  .share-wrapper {
    position: relative;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 600px;
    height: 17px;
    margin-top: auto;
    margin-bottom: 0;
  }
  .share-wrapper-reviewed.share-wrapper {
    position: relative;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100px;
    height: 17px;
    margin-top: auto;
    margin-bottom: 0;
  }
  .share-wrapper .group-clip {
    position: relative;
    right: 30px;
    width: 68px;
    height: 30px;
  }
  .share-wrapper .share-toggle {
    position: absolute;
    right: 0;
    left: auto;
  }
  .share-link,
  .snapchat {
    width: 30px;
    height: 30px;
  }
  .share-wrapper .facebook .svg-icon,
  .share-wrapper .svg-icon {
    top: 7px;
    left: 7px;
  }
  .share-wrapper .svg-icon {
    width: 14px;
    height: 14px;
  }
  .share-wrapper .close-icon {
    top: 8px;
    left: 8px;
    width: 12px;
    height: 12px;
  }
  .share-wrapper .twitter-icon {
    left: 8px;
  }
  .share-wrapper .pinterest-icon {
    top: 6px;
    left: 7px;
    width: 16px;
    height: 16px;
  }
  .share-wrapper .snapchat-icon {
    top: 7px;
    left: 7.5px;
    overflow: visible;
    width: 16px;
    height: 15.11px;
  }
}

.social {
  padding: 0;
  list-style: none;
}

.social-link {
  display: inline-block;
}

.social-wide {
  height: 42px;
  margin: 40px 0;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
}

.social-wide.deferred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-wide .social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin: 0 3%;
  border: 1px solid #c3c4c5;
  border-radius: 50%;
  font-size: 16px;
  line-height: 45px;
}

.social-wide .social-link.deferred {
  padding: 12px;
}

.social-wide .social-link.deferred.facebook {
  padding: 15.85px;
}

@media (min-width: 600px) {
  .social-wide .social-link {
    margin: 0 2%;
  }
}

@media (min-width: 960px) {
  .social-wide {
    margin: 0;
  }
}

svg.svg-icon {
  overflow: unset;
  vertical-align: unset;
}

svg.svg-icon.rotate270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.targeted-recommended {
  margin: 50px 0 0;
  padding-bottom: 60px;
}

.targeted-recommended.only-desktop {
  margin: 0;
  padding-bottom: 0;
}

@media (min-width: 600px) {
  .targeted-recommended {
    margin: 0;
  }
  .targeted-recommended.only-mobile {
    margin: 0;
    padding-bottom: 0;
  }
  .targeted-recommended.taboola-below-main-column {
    margin: 0 auto;
  }
}

@media (min-width: 1260px) {
  .targeted-recommended.taboola-below-main-column {
    width: 640px;
    margin: 0 auto;
  }
}

.targeted-recommended[class*="right-rail-"] {
  min-height: 540px;
}

.js-date-format:not(.js-rendered) {
  display: none;
}

.category-link:hover,
.typography a:hover {
  color: #299ecc;
  text-decoration: none;
}

div.aspect-ratio {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  background: #f8f8f8;
}

div.aspect-ratio > * {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101%;
  max-width: none;
  height: auto;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.vertical-title {
  height: 55px;
  margin-bottom: 13px;
  border-bottom: 3px solid #dceaec;
  font-size: 22px;
  line-height: 57px;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

.vertical-title {
  height: 100%;
  line-height: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-wrap: break-word;
}

@media (min-width: 600px) {
  .vertical-title {
    margin-bottom: 29px;
    font-size: 33px;
  }
}

@media (min-width: 960px) {
  .vertical-title {
    margin-bottom: 38px;
  }
}

.coupons-module {
  padding-bottom: 60px;
}

.coupons-link {
  color: #111;
}

.coupons-link:hover {
  color: #111;
  text-decoration: underline;
}

.coupons-title {
  padding-top: 16px;
  font-size: 18px;
}

.drawer {
  z-index: 5888888;
  position: fixed;
  top: 0;
  left: calc(-100% - 50px);
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 100px 0 rgba(17, 17, 17, 0.5);
  box-shadow: 0 2px 100px 0 rgba(17, 17, 17, 0.5);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}

@media (min-width: 600px) {
  .drawer {
    left: -445px;
    overflow-y: scroll;
    width: 395px;
  }
}

@media (min-width: 1260px) {
  .drawer {
    left: -485px;
    overflow-y: scroll;
    width: 435px;
  }
}

.drawer::-webkit-scrollbar {
  display: none;
}

.drawer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 40px 0;
}

.drawer-heading {
  font-size: 22px;
  line-height: 1.45;
  color: #111;
  text-transform: uppercase;
}

.drawer-heading:hover {
  opacity: 0.7;
}

.close-icon-clickable-area {
  position: relative;
  left: 6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (min-width: 960px) {
  .close-icon-clickable-area:hover .ins-drawer-close-icon .close-icon-path {
    stroke: #096ffa;
  }
}

.drawer-toggle {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  padding: 0;
  background: none;
}

.drawer-toggle:focus {
  outline: none;
}

.editorial-sidebar {
  min-height: 139px;
  padding-bottom: 60px;
  font-size: 15px;
}

.editorial-sidebar a {
  color: #111;
}

.editorial-sidebar a:active,
.editorial-sidebar a:hover {
  text-decoration: underline;
}

.editorial-sidebar .newsletters-content {
  font-size: 16px;
  line-height: 20px;
}

.editorial-sidebar .newsletters-signup:hover {
  text-decoration: none;
}

.byline-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: normal;
}

.byline {
  font-size: 0;
}

.byline-no-wrap,
.byline-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.byline-no-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 0;
}

.byline-no-wrap .byline-author {
  margin-right: 5px;
  margin-bottom: 4px;
}

@media (min-width: 600px) {
  .byline-no-wrap .byline-author {
    margin-bottom: 0;
  }
}

.byline-no-wrap .byline-timestamp {
  display: inline-block;
  margin: 0 15px 4px 0;
  color: #848f91;
}

@media (min-width: 600px) {
  .byline-no-wrap .byline-timestamp {
    margin: 0 15px 0 0;
  }
}

.byline-link {
  color: #111;
}

.byline-link:active,
.byline-link:focus,
.byline-link:hover {
  color: initial;
  text-decoration: underline;
}

.byline-content {
  vertical-align: middle;
}

.byline-content {
  display: inline-block;
}

.byline-author,
.byline-reviewed {
  display: inline;
}

.byline-author,
.byline-timestamp {
  font-size: 0.8785rem;
  letter-spacing: -0.3px;
}

.byline-author {
  margin-right: 5px;
}

.byline-timestamp {
  display: inline-block;
  margin: 0 15px 0 0;
  color: #848f91;
}

@media (min-width: 600px) {
  .byline {
    margin: 0;
  }
  .byline-wrapper {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 13px;
  }
  .byline-author {
    display: inline;
  }
}

@media (min-width: 960px) {
  .byline-author,
  .byline-timestamp {
    font-size: 0.875rem;
  }
  .byline-wrapper {
    margin-bottom: 15px;
  }
  .byline {
    margin: 0;
  }
}

.category-wrapper {
  margin: 20px auto 0 auto;
  font-size: 12px;
  text-align: center;
}

.category-link {
  margin-left: 10px;
}

.category-link-hidden {
  margin-left: 0;
}

.category-link.first {
  margin-left: 15px;
}

.more-text {
  color: #999;
}

.category-more {
  display: inline;
  margin: 30px 0 50px;
}

.category-more-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 0;
}

.category-more-icon {
  margin-left: 7px;
  font-size: 9px;
  cursor: pointer;
}

.category-more-icon .chevron {
  stroke: #185f7d;
  stroke-width: 3px;
}

.category-more-content {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: -146px;
  display: none;
  width: 160px;
  max-width: 276px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 9px 14px;
  text-align: left;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.category-more-content li {
  padding: 7px 0;
  line-height: 1.125;
  list-style: none;
}

.category-more-wrapper:active .category-more-content,
.category-more-wrapper:hover .category-more-content {
  z-index: 2;
  display: block;
}

.piano-lower-left-wrapper {
  z-index: 5999999;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  width: 480px;
  height: 300px;
}

.piano-lower-sticky-wrapper {
  z-index: 5999999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.popular-video {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 17px;
  line-height: 1.5em;
}

.popular-video-header {
  margin: 1em 0;
  font-size: 1.4rem;
  line-height: 1.1875;
}

@media (min-width: 600px) {
  .popular-video {
    font-size: 19px;
  }
  .popular-video-header {
    margin: 10px 0;
    line-height: 1.25;
  }
}

.post-content {
  margin-top: 10px;
}

@media (min-width: 600px) {
  .post-content,
  .post-content-bottom,
  .post-content-more {
    width: 570px;
  }
  .post-content,
  .post-content-bottom,
  .post-content-more {
    width: 570px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 960px) {
  .post-content,
  .post-content-bottom,
  .post-content-more {
    width: 555px;
  }
}

@media (min-width: 1260px) {
  .post-content,
  .post-content-bottom,
  .post-content-more {
    width: 640px;
  }
}

.post-headline {
  margin: 20px 0 12px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 17px;
  font-size: 26px;
  line-height: 1.2;
  color: #111;
  text-align: center;
}

.post-headline-wrapper {
  position: relative;
  max-width: 100%;
}

@media (min-width: 600px) {
  .post-headline {
    margin-bottom: 10px;
    font-size: 2.6875rem;
    line-height: 1.22;
  }
}

@media (min-width: 960px) {
  .post-headline {
    line-height: 1.21;
  }
}

@media (min-width: 1260px) {
  .post-headline {
    margin-bottom: 11px;
  }
}

.post-meta {
  margin: 10px 0 -12px;
}

.post-meta {
  line-height: 25px;
  vertical-align: top;
}

.post-breadcrumbs {
  font-size: 11px;
  text-transform: uppercase;
}

.post-breadcrumbs a {
  color: #096ffa;
}

.post-breadcrumbs a:hover {
  color: #096ffa;
  text-decoration: underline;
}

.post-breadcrumbs-chevron {
  margin: 0 6px;
  font-size: 7px;
  stroke-width: 2px;
}

.byline-reviewed {
  padding-right: 4px;
  font-size: 0.8785rem;
}

.reviewed-by-expert-rich-tooltip.rich-tooltip {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 4px;
  cursor: default;
}

@media (min-width: 600px) {
  .reviewed-by-expert-rich-tooltip.rich-tooltip {
    margin-bottom: 0;
  }
}

.medically-reviewed-check-icon {
  width: 15px;
  height: 15px;
}

@media (min-width: 600px) {
  .medically-reviewed-check-icon {
    width: 16px;
    height: 16px;
  }
}

a.byline-reviewed-by-anchor {
  font-size: 12px;
  line-height: 16px;
  color: #4a4a4a;
  letter-spacing: 2.57px;
}

@media (min-width: 0) {
  a.byline-reviewed-by-anchor {
    pointer-events: none;
  }
}

@media (min-width: 600px) {
  a.byline-reviewed-by-anchor {
    line-height: 16px;
  }
}

@media (min-width: 960px) {
  a.byline-reviewed-by-anchor {
    pointer-events: auto;
  }
  a.byline-reviewed-by-anchor:hover {
    cursor: help;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }
}

.reviewed-by-expert-rich-tooltip .rich-tooltip-wrapper {
  z-index: 5777777;
  position: absolute;
  top: 100%;
  left: -10px;
  display: none;
  padding-top: 16px;
}

@media (min-width: 960px) {
  .reviewed-by-expert-rich-tooltip .rich-tooltip-wrapper {
    left: 0;
  }
}

.reviewed-by-expert-rich-tooltip .rich-tooltip-message {
  position: relative;
  width: 262px;
  height: auto;
  border: 0.5px solid #dceaec;
  border-radius: 1.5px;
  padding: 15px 22px;
  font-size: 13px;
  line-height: 16px;
  color: #111;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(17, 17, 17, 0.25),
    0 0 0 0 hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 2px 8px 0 rgba(17, 17, 17, 0.25), 0 0 0 0 hsla(0, 0%, 100%, 0.5);
}

.reviewed-by-expert-rich-tooltip .rich-tooltip-message:after {
  position: absolute;
  top: 0;
  left: 120px;
  width: 13px;
  height: 13px;
  border-top: 1px solid #dceaec;
  border-right: 1px solid #dceaec;
  background-color: #fff;
  -webkit-box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.05);
  content: "";
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (min-width: 960px) {
  .reviewed-by-expert-rich-tooltip .rich-tooltip-message:after {
    left: 32px;
  }
}

.medically-reviewed-disclosure-link {
  font-weight: 900;
  color: #111;
}

.medically-reviewed-disclosure-link:hover {
  color: #111;
  text-decoration: underline;
}

.rich-tooltip {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: help;
}

.rich-tooltip:hover .rich-tooltip-wrapper {
  display: block;
}

.rich-tooltip-wrapper {
  z-index: 5777777;
  position: absolute;
  top: 100%;
  left: -10px;
  display: none;
  padding-top: 16px;
}

.rich-tooltip-message {
  position: relative;
  display: block;
  min-width: 216px;
  border-radius: 1.5px;
  padding: 15px 10px 20px;
  font-size: 13px;
  color: #545454;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(17, 17, 17, 0.25),
    0 0 0 0 hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 2px 8px 0 rgba(17, 17, 17, 0.25), 0 0 0 0 hsla(0, 0%, 100%, 0.5);
}

.rich-tooltip-message:after {
  position: absolute;
  top: 0;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  -webkit-box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.05);
  content: "";
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.video-player {
  position: relative;
  overflow: hidden;
  height: 0;
  min-height: 195px;
  padding-bottom: 56.25%;
}

@media (min-width: 600px) {
  .video-player {
    min-height: 222px;
  }
}

@media (min-width: 960px) {
  .video-player {
    min-height: 324px;
  }
}

@media (min-width: 1260px) {
  .video-player {
    min-height: 433px;
  }
}

div.back-to-home {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 64px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 16px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  background: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out,
    -webkit-transform 0.3s ease-out;
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

div.back-to-home .chevron-icon {
  width: 12px;
  height: 11px;
  margin-right: 16px;
  margin-bottom: 3.5px;
  vertical-align: middle;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  stroke-width: 3;
}

div.back-to-home .chevron-icon path {
  stroke: #096ffa;
}

a.back-to-home-link {
  color: #111;
  letter-spacing: 2.47px;
}

a.back-to-home-link:hover {
  opacity: 0.5;
}

.back-to-home-container {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

@media (min-width: 600px) {
  .back-to-home-container {
    display: none;
  }
}

.theme-underlined {
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 10px;
  color: #4a4a4a;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.theme-underlined.narrow {
  margin-bottom: 18px;
  padding-bottom: 9px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2px;
}

@media (min-width: 600px) {
  .theme-underlined {
    letter-spacing: 2px;
  }
}

@media (max-width: 768px) {
  .post-headline {
    font-size: 26px;
    line-height: 1.2;
  }
  .typography:not(.slideshow-container) h2 {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (max-width: 600px) {
  .byline-wrapper,
  .post-headline-wrapper {
    padding: 0 15px;
  }
  .post-headline {
    font-size: 23px;
  }
  .typography:not(.slideshow-container) h2 {
    font-size: 19px;
  }
}

body:before {
  display: none;
  content: "js-screen-sm";
}

@media (min-width: 600px) {
  body:before {
    content: "js-screen-md";
  }
}

@media (min-width: 960px) {
  body:before {
    content: "js-screen-lg";
  }
}

@media (min-width: 1260px) {
  body:before {
    content: "js-screen-xl";
  }
}

.comment-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.comment-box:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.comment-box:not(:first-child) {
  padding: 15px 0;
}

.comment-box:first-child {
  padding: 0 0 15px 0;
}

.comment-date-box {
  margin-left: 8px;
}

.comment-date__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}

.comment-date__time {
  color: #94989b;
  font-size: 12px;
}

.comment-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.comment-date__avarar {
  width: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.comment-date__avarar img {
  max-width: 100%;
  border-radius: 50%;
  border: 3px solid #ccc;
}

.сomment-img {
  margin-top: 5px;
  width: 250px;
  border-radius: 10px;
}

ul li {
  line-height: 1.3;
  font-size: 17px;
}

.ingr li {
  margin-bottom: 6px;
}

.i {
  line-height: 1.3;
  font-style: italic;
}

.comment-img {
  border-radius: 10px;
  margin-top: 4px;
  max-width: 275px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .form__input input {
    width: 300px;
  }
  #l-main-content {
    padding-top: 0px;
  }/**
  .prices {
    font-size: 25px;
  }**/
  .hide {
    display: none;
  }
  .qoute p {
    width: 90%;
  }
  .post-headline {
    text-align: center;
    margin: 10px 0px 0 0;
    padding-bottom: 10px;
  }
  .fz19 {
    font-size: 18px !important;
  }
}

.comment-title {
  margin: 15px 0 !important;
}

@media screen and (max-width: 420px) {
  .form__input input,
  .main-btn {
    max-width: 280px;
  }/**
  .prices {
    font-size: 18px;
  }**/
  .shide {
    display: none;
  }
}

.product {
  max-width: 40%;
  width: 100%;
  margin: auto;
}

.svg-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body {
  position: relative;
}

.popup {
  position: fixed;
  right: 0;
  bottom: 55px;
  background: #f1f708;
  border: 2px solid red;
  position: fixed;
  bottom: 55px;
  right: 0;
  border-radius: 10px 0 0 10px;
  padding: 5px;
  font-family: montserrat, sans-serif;
  font-size: 12px;
  cursor: pointer;
  display: none;
  max-width: 250px;
}
.popup-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup img {
  max-width: 40px;
  margin-right: 10px;
}

.poput__text {
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.popup.active {
  display: block;
}
